{% extends 'blogindex/base.html' %}
{% block css %}
    <link href="/static/blogindex/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <h2 class="nh1"><span>您现在的位置是：<a href="/blogindex/index/" target="_blank">网站首页</a>>><a href="#" target="_blank">信息浏览</a></span><b>个人简介</b>
                </h2>
                <div class="f_box">
                    <p class="a_title">个人简介</p>
                    <p class="p_title"></p>
                    <!--  <p class="box_p"><span>发布时间：2017-07-07 15:12:42</span><span>作者：唐孝文</span><span>来源：稽查支队</span><span>点击：111056</span></p>-->
                    <!-- 可用于内容模板 -->
                </div>
                <ul class="about_content">
                    <p>
                       蔡徐坤（KUN），1998年8月2日出生于浙江省，中国内地男歌手、演员、音乐制作人。
2012年4月，蔡徐坤因参加综艺节目《向上吧！少年》进入全国200强 [1]  ；同年8月，参演个人首部偶像剧《童话二分之一》 [2]  。2014年3月，参演个人首部电影《完美假妻168》。2018年1月，参加偶像男团竞演养成类真人秀《偶像练习生》，并于同年4月6日获得最高票数，以NINE PERCENT九人男团C位出道并担任队长 [3]  ；同年8月，发行个人首张EP《1》 [4]  ；随后获得出道后首个个人音乐类奖项亚洲新歌榜2018年度盛典“最受欢迎潜力男歌手” [5]  ；同年12月，获第十二届音乐盛典咪咕汇年度“最佳彩铃销量歌手”、年度十大金曲《Wait Wait Wait》、搜狐时尚盛典“年度人气男明星”以及今日头条年度盛典“年度偶像人物”。2019年2月，首登北京台春晚便包揽词曲，为其创作歌曲《那年春天》 [6]  。2月18日，发布单曲《没有意外》 [7]  。3月22日，发布海外公演主题曲《Bigger》 [8]  。4月19日，发布单曲《Hard To Get》 [9]  。</p>
                    <p><img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=58bc021f703e6709aa0d4dad5aaef458/ac6eddc451da81cbc6e17df55d66d01609243187.jpg"></p>
                    <p>我希望自己的唱跳rap篮球会更棒！ </p>
                </ul>
                <!--    <div class="nextinfos">
              <p>上一篇：<a href="/">区中医医院开展志愿服务活动</a></p>
              <p>下一篇：<a href="/">广安区批准“单独两孩”500例</a></p>
            </div>-->
                <!-- 可用于内容模板 -->

                <!-- container代码 结束 -->
            </div>
        </div>
        <div class="blank"></div>
    </div>
    <!-- container代码 结束 -->
{% endblock %}

